
#user-distance-select {
    width: 90%;
}

.user-distance-select-div {
    text-align: center;
}

.user-distance {
    font-size: 1.1rem;
    font-weight: 600;
    color: #09098e;
    margin-bottom: 10px;
}

.btn-outline-secondary.user-distance-select:hover {
    color: black;
    background-color: white;
    border-color: #6c757d;
}

.modal-dialog.user-modal {
    margin-top: 150px;
}