

.item-map-list {
    background-color: whitesmoke;
    padding: 105px 0px 10px 0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#mapList {
    width:100%;
    height:100%;
}

/* .customoverlay.custom-overlay-xx {
    bottom: 25px;
}


.img {
    src: url(https://i1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png);
} */