
.item-detail-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.item-detail-overlay.show {
    display: block;
}

.item-detail {
    margin-top: 20px;
    height: 480px;

    position: fixed;
    /* height: 190px; */
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    display: none;
    padding: 20px;
    z-index: 999;
}

.item-detail.show {
    display: block;
}